<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pimpinan</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="flex">
    <!-- Sidebar -->
    <div class="w-72 text-white min-h-screen p-4 fixed" style="background-color: #5D8736;">
        <div class="flex items-center mb-8">
            <img src="/images/logo.png" alt="Logo" class="w-16 h-16 mr-7">
            <div>
                <h1 class="text-2xl font-bold">SIKOP</h1>
                <p class="text-sm">Sistem Informasi Koperasi</p>
            </div>
        </div>
        <nav>
            <ul>
                <li class="mb-4">
                    <a href="/dashboardPimpinan" class="flex items-center block p-6 py-3 hover:bg-green-900 rounded">
                        <img src="/images/vectordasbor.png" alt="lihat data icon" class="w=5 h-5 ">
                        <span class="ml-2 text-xl ml-5">Dashboard</span>
                    </a>
                </li>
                <li>
                    <button onclick="toggleDropdown('mainDropdown', event)"
                        class="flex items-center justify-between w-full focus:outline-none">
                        <div class="flex items-center">
                            <a href="#" class="flex items-center block p-6 py-3 hover:">
                                <img src="/images/lihatdata.png" alt="lihat data icon" class="w=5 h-5 ">
                                <span class="ml-2 text-xl ml-5">Lihat Data</span>
                            </a>
                        </div>
                        <img src="/images/angle-small-down.png" alt="dropdown icon"
                            class="w-6 h-6 transform transition-transform" id="mainDropdownIcon">
                    </button>
                    <ul id="mainDropdown" class="pl-6 hidden">
                        <li class="mb-2">
                            <a href="/simpananPimpinan" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data
                                Simpanan</a>
                        </li>
                        <li class="mb-2">
                            <a href="/pinjamanPimpinan" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data
                                Pinjaman</a>
                        </li>
                        <li class="mb-2">
                            <a href="/kreditPimpinan" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data
                                Kredit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Log Out Button di Bawah -->
        <div class="absolute bottom-0 left-0 w-full p-4">
            <button onclick="logout()"
                class="flex items-center w-full p-6 py-3 hover:bg-green-900 rounded transition duration-300">
                <span class="material-icons">logout</span>
                <span class="ml-5 text-xl">Log Out</span>
            </button>
        </div>

        <script>
            function logout() {
                if (confirm("Yakin ingin keluar?")) {
                    fetch('/logout', { method: 'POST' })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert("Anda berhasil logout");
                                window.location.href = "/login";
                            } else {
                                alert("Gagal logout, coba lagi.");
                            }
                        })
                        .catch(error => console.error('Logout error:', error));
                }
            }

            // Dropdown toggle
            function toggleDropdown(dropdownId, event) {
                event.stopPropagation(); // Menghentikan event bubbling
                const dropdownMenu = document.getElementById(dropdownId);
                const dropdownIcon = document.getElementById(dropdownId + 'Icon');
                dropdownMenu.classList.toggle('hidden');
                dropdownIcon.classList.toggle('rotate-180');
            }

            function formatNumber(value) {
                if (value >= 1_000_000_000_000) {
                    return (value / 1_000_000_000_000).toFixed(1) + ' B';
                } else if (value >= 1_000_000_000) {
                    return (value / 1_000_000_000).toFixed(1) + ' M';
                } else if (value >= 1_000_000) {
                    return (value / 1_000_000).toFixed(1) + ' Jt';
                } else if (value >= 1_000) {
                    return (value / 1_000).toFixed(1) + ' Rb';
                }
                return value;
            }

            fetch('/api/dashboard')
                .then(response => response.json())
                .then(data => {
                    // Menampilkan hanya data card Total Pegawai, Anggota Aktif, dan Tidak Aktif
                    document.getElementById('total-pegawai').innerText = formatNumber(data.total_pegawai);
                    document.getElementById('total-anggota-aktif').innerText = formatNumber(data.total_anggota_aktif);
                    document.getElementById('total-anggota-tidak-aktif').innerText = formatNumber(data.total_anggota_tidak_aktif);
                })
                .catch(error => console.error('Error fetching dashboard data:', error));

        </script>
    </div>

    <!-- Main Content -->

    <div class="flex-1 bg-gray-100 ml-72">
        <div class="flex justify-between shadow-md p-4 bg-white">
            <h1 class="text-2xl font-bold">Selamat Datang di Aplikasi Sistem Informasi Koperasi</h1>
            <div class="flex items-center">
                <span>Pimpinan</span>
                <img src="/images/profile-user.png" class="w-10 h-10 rounded-full ml-2">
            </div>
        </div>

        <div class="p-8">
            <!-- Stats Cards -->
            <div class="grid grid-cols-3 gap-10 mb-2" id="stats-cards">
                <div class="bg-white p-6 rounded-lg shadow-sm border-l-4 border-green-700">
                    <h3 class="text-gray-600">Jumlah Pegawai</h3>
                    <p class="text-3xl font-bold" id="total-pegawai"></p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-sm border-l-4 border-blue-700">
                    <h3 class="text-gray-600">Jumlah Anggota Aktif</h3>
                    <p class="text-3xl font-bold" id="total-anggota-aktif"></p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-sm border-l-4 border-red-700">
                    <h3 class="text-gray-600">Jumlah Anggota Tidak Aktif</h3>
                    <p class="text-3xl font-bold" id="total-anggota-tidak-aktif"></p>
                </div>
            </div>
            <div class="p-4">
            </div>
            <div class="grid grid-cols-2 gap-6 mb-2">
                <!-- KPN Section -->
                <div class="bg-white p-6 rounded-lg shadow-sm">
                    <h2 class="text-xl font-semibold mb-4">KPN KOPERTIS WILAYAH X</h2>
                    <img src="/images/dasbor.jpg" class="w-1/2 object-contain rounded mb-4" alt="KPN Dashboard">

                    <p class="text-justify text-black-600 mb-4">Koperasi Pegawai Negeri (KPN) Kopertis Wilayah X adalah sebuah koperasi 
                        yang didirikan untuk memberikan layanan simpan pinjam dan pembiayaan kepada pegawai negeri dan 
                        anggota lainnya di lingkungan Kopertis (Koordinasi Perguruan Tinggi Swasta) Wilayah X. KPN Kopertis Wilayah X 
                        menawarkan berbagai layanan, termasuk simpan pinjam, pembiayaan syariah, dan program-program pemberdayaan ekonomi. 
                        Koperasi ini berkomitmen untuk memberikan layanan yang transparan dan akuntabel kepada anggotanya.</p>
                    <a href="https://lldikti10.kemdikbud.go.id/" class="text-green-700 underline">Website Resmi LLDIKTI
                        Wilayah X</a>
                </div>
                <!-- Visi Misi Section -->
                <div class="bg-white p-6 rounded-lg shadow-sm">
                    <h2 class="text-xl font-semibold mb-4">Visi Misi KPN KOPERTIS WILAYAH X</h2>
                    <div class="mb-6">
                        <h3 class="font-bold mb-2">Visi</h3>
                        <ol class="list-decimal pl-4 space-y-2">
                            <li class="text-justify"> Menjadi Koperasi Konsumen, Simpan Pinjam, dan atau Pembiayaan Syariah yang Akuntabel untuk Kesejahteraan Anggota.</li>
                        </ol>
                    </div>
                    <div>
                        <h3 class="font-bold mb-2">Misi</h3>
                        <ol class="list-decimal pl-4 space-y-2">
                            <li>Menjalankan koperasi konsumen dan berusaha untuk melaksanakan simpan pinjam dan pembiayaan syariah secara profesional.</li>
                            <li>Meningkatkan kapasitas sumber daya manusia dalam pengelolaan koperasi.</li>
                            <li>Memberdayakan potensi ekonomi anggota.</li>
                            <li>Menjalin kerja sama atau kemitraan dengan koperasi lain dan Usaha Mikro, Kecil, dan Menengah.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="p-4">
            </div>
        </div>
    </div>
</body>

</html>