<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Sidebar -->
<div class="w-72 text-white min-h-screen p-4 fixed" style="background-color: #5D8736;">
    <div class="flex items-center mb-8">
        <img src="/images/logo.png" alt="Logo" class="w-16 h-16 mr-7">
        <div>
            <h1 class="text-2xl font-bold">SIKOP</h1>
            <p class="text-sm">Sistem Informasi Koperasi</p>
        </div>
    </div>

    <nav>
        <ul>
            <li class="mb-4">
                <a href="../koperasi/dashboardPimpinan.ejs" class="flex items-center block p-6 py-3 hover:bg-green-900 rounded">
                    <img src="/images/vectordasbor.png" alt="lihat data icon" class="w-5 h-5">
                    <span class="ml-5 text-xl">Dashboard</span>
                </a>
            </li>

            <li>
                <button onclick="toggleDropdown('mainDropdown', event)" class="flex items-center justify-between w-full focus:outline-none">
                    <div class="flex items-center">
                        <a href="#" class="flex items-center block p-6 py-3 hover:bg-green-900 rounded">
                            <img src="/images/lihatdata.png" alt="lihat data icon" class="w-5 h-5">
                            <span class="ml-5 text-xl">Lihat Data</span>
                        </a>
                    </div>
                    <img src="/images/angle-small-down.png" alt="dropdown icon" class="w-6 h-6 transform transition-transform" id="mainDropdownIcon">
                </button>
                <ul id="mainDropdown" class="pl-6 hidden">
                    <li class="mb-2">
                        <a href="../isikan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">o Data Simpanan</a>
                    </li>
                    <li class="mb-2">
                        <a href="../isikan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">o Data Pinjaman</a>
                    </li>
                    <li class="mb-2">
                        <a href="../isikan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">o Data Kredit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Log Out Button di Bawah -->
    <div class="absolute bottom-0 left-0 w-full p-4">
        <a href="/logout" class="flex items-center block p-6 py-3 hover:bg-green-900 rounded">
            <span class="material-icons">logout</span>
            <span class="ml-2 text-xl ml-5">Log Out</span>
        </a>
    </div>

    </div>

<script>
function toggleDropdown(dropdownId, event) {
    event.stopPropagation(); // Menghentikan event bubbling
    const dropdownMenu = document.getElementById(dropdownId);
    const dropdownIcon = document.getElementById(dropdownId + 'Icon');
    dropdownMenu.classList.toggle('hidden');
    dropdownIcon.classList.toggle('rotate-180');
}
</script>