<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<!-- Sidebar -->
<div class="w-72 text-white min-h-screen p-4 fixed" style="background-color: #5D8736;">
    <div class="flex items-center mb-8">
        <img src="/public/images/logo.png" alt="Logo" class="w-16 h-16 mr-7">
        <div>
            <h1 class="text-2xl font-bold">SIKOP</h1>
            <p class="text-sm">Sistem Informasi Koperasi</p>
        </div>
    </div>
    <nav>
        <ul>
            <li class="mb-4">
                <a href="../koperasi/dashboardPimpinan.ejs" class="flex items-center block p-6 py-3 hover:bg-green-900 rounded">
                    <img src="/public/images/vectordasbor.png" alt="lihat data icon" class="w=5 h-5 ">
                    <span class="ml-2 text-xl ml-5">Dashboard</span>
                </a>
            </li>
            <li>
                <button onclick="toggleDropdown()" class="flex items-center justify-between w-full focus:outline-none">
                    <div class="flex items-center">
                        <a href="#" class="flex items-center block p-6 py-3 hover:">
                            <img src="/public/images/lihatdata.png" alt="lihat data icon" class="w=5 h-5 ">
                            <span class="ml-2 text-xl ml-5">Lihat Data</span>
                        </a>
                    </div>
                    <img src="/public/images/angle-small-down.png" alt="dropdown icon" class="w-6 h-6 transform transition-transform" id="dropdownIcon">
                </button>
                <ul id="dropdownMenu" class="pl-6 hidden">
                    <li class="mb-2">
                        <a href="../koperasi/simpananPimpinan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data Simpanan</a>
                    </li>
                    <li class="mb-2">
                        <a href="../koperasi/pinjamanPimpinan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data Pinjaman</a>
                    </li>
                    <li class="mb-3">
                        <a href="../koperasi/kreditPimpinan.ejs" class="block p-3 py-3 text-lg hover:bg-green-900 rounded">Data Kredit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<script>
function toggleDropdown() {
    const dropdownMenu = document.getElementById('dropdownMenu');
    dropdownMenu.classList.toggle('hidden');
}
</script>